
<!-- <div class="absolute left-0 top-0 -z-10 h-full w-full">
  {/* Este es el background de Tailwind */}
  <div class="
    h-screen w-screen bg-gradient-to-b 
    from-[#B1D8B7] via-[#B1D8B7]/5 to-stone-100
    dark:from-[#385162] dark:via-[#1a4564] dark:to-[#112838] "
  />
</div>
 -->

 <div class="">
  <div
    class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#10786950,rgba(255,255,255,0.9))]
    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#1A5653,rgba(255,255,255,0))]"
  ></div>
</div>