---

import Item from './Item.astro'
import dolar_response from '../../mocks/dolares.json'
const { frontmatter } = Astro.props;

export async function fetchData(url: string) {
  //setLoading(true);
  return fetch(url)
    .then(response => {
      if (!response.ok) { throw new Error('Error al obtener los datos'); }
      return response.json();
    })
    .then(data => {
      //setLoading(false);
      return data;
    })
    .catch(error => {
      console.error('Error:', error.message);
      //setError(error.message);
      //setLoading(false);
      return null;
    });
}

const apiUrl = import.meta.env.API_URL
const data = await fetchData(apiUrl)
const dataMock = dolar_response

---

<main class="flex flex-col justify-center items-center mb-10">
  <!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
  <section class={`
    grid gap-4 m-16
    lg:grid-cols-3 lg:max-w-6xl
    md:grid-cols-2 md:max-w-2xl
    sm:grid-cols-2 sm:max-w-xl
  `}>
    {
      //dataMock.map( item => <span>{item.venta} </span>)
      data.map( item => <Item value={item} />)
      
    }
  </section>
  <span class="dark:text-gray-500">
    <em>
      Última Actualización: {dataMock[0].fechaActualizacion.split("T")[0]} 
    </em>
  </span>


</main>